
@{
    ViewData["Title"] = "Joel";
}

<div class="text-center">
    <h1>Get to Know Joel</h1>
</div>
<p> Where does Joel perform regularly?
   <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>
</p>
<a href="https://baconsale.com/" target="_blank">
    <img src="~/img/baconsalekate.jpg" alt="Baconsale" style="width:200px; height:auto;">
</a>
<div></div>
<p>
    Joel's Podcast:
    <a href="https://baconsale.com/" target="_blank">Baconsale: A Family-Friendly Pop Culture Podcast</a>
</p>

